.cardContainer {
    background-color: red;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.cardElement{
    width: 20%;
    height: 400px;
    display: flex;
    justify-content: center;
}
